@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="container">
        <div class="card bg-transparent border-0 text-dark">
            <div class="card-body">
                <div class="col-md-offset-6">
                    <div class="alert alert-dismissible alert-warning">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <h4 class="alert-heading">Warning!</h4>
                        <p class="mb-0">The main symptoms of coronavirus (COVID-19) are a high temperature, a new, continuous cough and a loss or change to your sense of smell or taste.</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="jumbotron bg-transparent">
            <h4>Welcome message!</h4>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card border-0 d-flex" style="max-width: 20rem;">
                <div class="card-body">
                    <div class="row justify-content-center align-items-center">
                        <i class="fa fa-plus-square fa-3x" style="color:#1f353d"></i>
                    </div>
                    <div class="row">
                        @Html.ActionLink("Patient Management", "Index", "PatientManagement", null,
                        new { @class = "btn btn-outline-primary btn-lg btn-block border-0" })
                    </div>  
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-0 d-flex" style="max-width: 20rem;">
                <div class="card-body">
                    <div class="row justify-content-center align-items-center">
                        <i class="fa fa-calendar fa-3x" style="color:#1f353d"></i>
                    </div>
                    <div class="row">
                        @Html.ActionLink("Appointments", "Index", "PatientManagement", null,
                        new { @class = "btn btn-outline-primary btn-lg btn-block border-0" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-0 d-flex" style="max-width: 20rem;">
                <div class="card-body">
                    <div class="row justify-content-center align-items-center">
                        <i class="fa fa-check-square-o fa-3x" style="color:#1f353d"></i>
                    </div>
                    <div class="row">
                        @Html.ActionLink("Assessments", "Index", "PatientManagement", null,
                        new { @class = "btn btn-outline-primary btn-lg btn-block border-0" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-0 d-flex" style="max-width: 20rem;">
                <div class="card-body">
                    <div class="row justify-content-center align-items-center">
                        <i class="fa fa-user-md fa-3x" style="color:#1f353d"></i>
                    </div>
                    <div class="row">
                        @Html.ActionLink("Staff Management", "Index", "PatientManagement", null,
                        new { @class = "btn btn-outline-primary btn-lg btn-block border-0" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>